<app-scale-image [path]="path" [hidden]="imgIsHidden" (change_scale)="changeImageScale()"></app-scale-image>

<div class="menu" (click)="showMenu()" style="
  position: fixed;
  display: var(--navigation-menu-display);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  z-index: 900;

">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>

</div>

<div #overlay (click)="showMenu()" style="
  display: var(--navigation-overlay-display);
  background-color: #0000008a;
  position: fixed;
  height: 100vh;
  width: 100vw;
  cursor: pointer;
  z-index: 700;
"></div>

<nav #nav style="
  background-color: var(--background);
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: var(--navigation-nav-width);
  padding-top: 20px;
  overflow-y: auto;
  transform: translateX(var(--navigation-nav-transform));
  transition: .9s ease;
  box-shadow: 1px 1px 1px -1px gray;
  z-index: 900;

">
  <div class="menu" (click)="showMenu()" style="
    position: absolute;
    top: 0px;
    left: 0px;
    display: var(--navigation-menu-display);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    z-index: 900;

    ">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

  </div>

  <div class="photo" (click)="changeImageScale()">
    <img [src]="path" alt="foto do portfolio">

  </div>

  <h2>Ryan Soares</h2>

  <div class="icons">
    <div class="container-contacts" (click)="showMenu()">
        <a href="https://github.com/RyanSoar3s" target="_blank" title="https://github.com/RyanSoar3s">
          <fa-icon [icon]="faGithub"></fa-icon>

        </a>

    </div>

    <div class="container-contacts" (click)="showMenu()">
        <a href="https://www.linkedin.com/in/ryan-soares-107148230/" target="_blank" title="https://www.linkedin.com/in/ryan-soares-107148230/">
          <fa-icon [icon]="faLinkedin"></fa-icon>

        </a>

    </div>

    <div class="container-contacts" (click)="showMenu()">
        <a href="wa.me/5579988004580" target="_blank" title="wa.me/5579988004580">
          <fa-icon [icon]="faWhatsapp"></fa-icon>

        </a>

    </div>

    <div class="container-contacts" (click)="showMenu()">
        <a routerLink="/entre-em-contato" routerLinkActive="active" title="ryansoares.dev@gmail.com">
          <fa-icon [icon]="faEmail"></fa-icon>

        </a>

    </div>

  </div>

  <div class="options">
    <ul>
      <li (click)="showMenu()">
        <a (click)="emit($event)" data-id="0"></a>
        <fa-icon [icon]="faHouse"></fa-icon>
        <span>Início</span>

      </li>

      <li (click)="showMenu()">
        <a (click)="emit($event)" data-id="1"></a>
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Sobre mim</span>

      </li>

      <li (click)="showMenu()">
        <a (click)="emit($event)" data-id="2"></a>
        <fa-icon [icon]="faAtom"></fa-icon>
        <span>Habilidades</span>

      </li>

      <li (click)="showMenu()">
        <a (click)="emit($event)" data-id="3"></a>
        <fa-icon [icon]="faSitemap"></fa-icon>
        <span>Meus projetos</span>

      </li>

      <li (click)="showMenu()">
        <a (click)="emit($event)" data-id="4"></a>
        <fa-icon [icon]="faCircleInfo"></fa-icon>
        <span>Sobre este projeto</span>

      </li>

    </ul>

  </div>

</nav>

<router-outlet></router-outlet>
