<app-scale-image [path]="path" [hidden]="hidden" (change_scale)="changeImageScale()"></app-scale-image>

<nav>
  <div class="photo" (click)="changeImageScale()">
    <img [src]="path" alt="foto do portifólio">

  </div>

  <h2>Ryan Soares</h2>

  <div class="icons">
    <div class="container-contacts">
        <a href="#" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>

        </a>

    </div>

    <div class="container-contacts">
        <a href="#" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>

        </a>

    </div>

    <div class="container-contacts">
        <a href="#" target="_blank">
          <fa-icon [icon]="faWhatsapp"></fa-icon>

        </a>

    </div>

    <div class="container-contacts">
        <a href="#" target="_blank">
          <fa-icon [icon]="faEmail"></fa-icon>

        </a>

    </div>

  </div>

  <div class="options">
    <ul>
      <li>
        <a href="#"></a>
        <fa-icon [icon]="faHouse"></fa-icon>
        <span>Início</span>

      </li>

      <li>
        <a href="#"></a>
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Sobre mim</span>

      </li>

      <li>
        <a href="#"></a>
        <fa-icon [icon]="faAtom"></fa-icon>
        <span>Habilidades</span>

      </li>

      <li>
        <a href="#"></a>
        <fa-icon [icon]="faSitemap"></fa-icon>
        <span>Meus projetos</span>

      </li>

      <li>
        <a href="#"></a>
        <fa-icon [icon]="faCircleInfo"></fa-icon>
        <span>Sobre este projeto</span>

      </li>

    </ul>

  </div>

  <div class="info">
    <h4>Feito por <span>Ryan Soares</span></h4>

  </div>

</nav>
