::-webkit-scrollbar {
  width: 0px;

}

.menu:hover {
  background-color: #cdcdcd33;
  border-radius: 50%;

}

.line {
  background-color: #ffffffc7;
  height: 4px;
  width: 32px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #00000063;

}

nav {
  div.photo {
    height: var(--navigation-nav-photo-height-width);
    width: var(--navigation-nav-photo-height-width);
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px 0px 6px 0px;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      padding: 3px;
      border-radius: 50%;

    }

  }

  h2 {
    font-size: var(--navigation-nav-h2-font-size);
    font-weight: 500;
    margin: 10px 0px;

  }

}

nav div.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  margin-top: 10px;

  a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

}

.container-contacts {
  background-color: var(--background-nav-elements);
  height: var(--navigation-nav-icons-container-contacts-height-width);
  width: var(--navigation-nav-icons-container-contacts-height-width);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: .1s transform ease-in;

  fa-icon {
    font-size: var(--navigation-nav-icons-container-contacts-fa-icon-font-size);

  }

}

.container-contacts:hover {
  transform: scale(1.1) translateY(-2px);
  -moz-transform: scale(1.1) translateY(-2px);
  -o-transform: scale(1.1) translateY(-2px);
  -ms-transform: scale(1.1) translateY(-2px);

  border: 2px solid white;
  border-radius: 50%;

}

nav div.options{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 53px;
  height: 197px;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 95%;
    width: 88%;
    gap: 11px;

  }

}

ul {
  li {
    display: flex;
    position: relative;
    align-items: center;
    height: 35px;
    width: var(--navigation-nav-options-ul-li-width);
    left: var(--navigation-nav-options-ul-li-left);
    transition: .2s background-color ease-in;

  }

  li:hover {
    background-color: var(--background-nav-elements);
    border-radius: 10px;

  }

  fa-icon {
    position: absolute;
    font-size: 1.2em;
    margin-left: 5px;

  }

  span {
    margin-left: 34px;
    font-size: var(--navigation-nav-options-ul-li-span-font-size);
    font-weight: 500;

  }

  a {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;

  }

}

li > a {
  cursor: pointer;

}
