<app-scale-image [path]="path" [hidden]="imgIsHidden" (change_scale)="changeImageScale()"></app-scale-image>

<div class="menu" [ngStyle]="{ display: (!mapNavigationValues.components.navigation?.isHidden) ? 'none' : 'flex', position: 'fixed' }" (click)="showMenu()">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>

</div>

<div [ngStyle]="{ display: (!mapNavigationValues.components.navigation?.isHidden && !menuBarIsHidden) ? 'block' : 'none' }" class="overlay" (click)="showMenu()"></div>

<nav [@navAnimation]="(!mapNavigationValues.components.navigation?.isHidden) ? 'show' : 'hidden'" [ngStyle]="{  width: mapNavigationValues.components.navigation?.sizes?.navWidth, top: '0px', left: '-355px' }">
  <div class="menu" [@navAnimation]="(!mapNavigationValues.components.navigation?.isHidden) ? 'show' : 'hidden'" [ngStyle]="{ display: (!menuBarIsHidden) ? 'flex' : 'none', position: 'absolute', top: '0px', left: '-355px' }" (click)="showMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

  </div>

  <div class="photo" (click)="changeImageScale()">
    <img [src]="path" alt="foto do portfolio">

  </div>

  <h2 [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.titles?.h2}" >Ryan Soares</h2>

  <div class="icons" [ngStyle]="{ width: mapNavigationValues.components.navigation?.sizes?.contacts?.divIcons?.width }">
    <div class="container-contacts" [ngStyle]="{ height: mapNavigationValues.components.navigation?.sizes?.contacts?.size, width: mapNavigationValues.components.navigation?.sizes?.contacts?.size }">
        <a href="https://github.com/RyanSoar3s" target="_blank" title="https://github.com/RyanSoar3s" (click)="showMenu()">
          <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.contacts?.faIcon }" [icon]="faGithub"></fa-icon>

        </a>

    </div>

    <div class="container-contacts" [ngStyle]="{ height: mapNavigationValues.components.navigation?.sizes?.contacts?.size, width: mapNavigationValues.components.navigation?.sizes?.contacts?.size }">
        <a href="https://www.linkedin.com/in/ryan-soares-107148230/" target="_blank" title="https://www.linkedin.com/in/ryan-soares-107148230/" (click)="showMenu()">
          <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.contacts?.faIcon }" [icon]="faLinkedin"></fa-icon>

        </a>

    </div>

    <div class="container-contacts" [ngStyle]="{ height: mapNavigationValues.components.navigation?.sizes?.contacts?.size, width: mapNavigationValues.components.navigation?.sizes?.contacts?.size }">
        <a href="wa.me/5579988004580" target="_blank" title="wa.me/5579988004580" (click)="showMenu()">
          <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.contacts?.faIcon }" [icon]="faWhatsapp"></fa-icon>

        </a>

    </div>

    <div class="container-contacts" [ngStyle]="{ height: mapNavigationValues.components.navigation?.sizes?.contacts?.size, width: mapNavigationValues.components.navigation?.sizes?.contacts?.size }">
        <a routerLink="/entre-em-contato" routerLinkActive="active" title="ryansoares.dev@gmail.com" (click)="showMenu()">
          <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.contacts?.faIcon }" [icon]="faEmail"></fa-icon>

        </a>

    </div>

  </div>

  <div class="options" [ngStyle]="{ marginTop: mapNavigationValues.components.navigation?.sizes?.options?.marginTop, marginBottom: mapNavigationValues.components.navigation?.sizes?.options?.marginBottom }">
    <ul>
      <li>
        <a (click)="emit($event, !mapNavigationValues.components.navigation?.isHidden && !menuBarIsHidden)" data-id="0"></a>
        <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.faIcon }" [icon]="faHouse"></fa-icon>
        <span [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.span }">Início</span>

      </li>

      <li>
        <a (click)="emit($event, !mapNavigationValues.components.navigation?.isHidden && !menuBarIsHidden)" data-id="1"></a>
        <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.faIcon }" [icon]="faUser"></fa-icon>
        <span [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.span }">Sobre mim</span>

      </li>

      <li>
        <a (click)="emit($event, !mapNavigationValues.components.navigation?.isHidden && !menuBarIsHidden)" data-id="2"></a>
        <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.faIcon }" [icon]="faAtom"></fa-icon>
        <span [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.span }">Habilidades</span>

      </li>

      <li>
        <a (click)="emit($event, !mapNavigationValues.components.navigation?.isHidden && !menuBarIsHidden)" data-id="3"></a>
        <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.faIcon }" [icon]="faSitemap"></fa-icon>
        <span [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.span }">Meus projetos</span>

      </li>

      <li>
        <a (click)="emit($event, !mapNavigationValues.components.navigation?.isHidden && !menuBarIsHidden)" data-id="4"></a>
        <fa-icon [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.faIcon }" [icon]="faCircleInfo"></fa-icon>
        <span [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.options?.span }">Sobre este projeto</span>

      </li>

    </ul>

  </div>

  <div class="container-info">
    <div class="info">
      <h4 [ngStyle]="{ fontSize: mapNavigationValues.components.navigation?.sizes?.titles?.h4}">Feito por <span>Ryan Soares</span></h4>

    </div>

  </div>

</nav>

<router-outlet></router-outlet>
