@mixin animation_color($animation, $bp_x_ini, $bp_y_ini, $bp_x_final, $bp_y_final, $bs_x, $bs_y, $time) {
  animation: $animation $time ease-in-out infinite;
  -webkit-animation: $animation $time ease-in-out infinite;
  -o-animation: $animation $time ease-in-out infinite;

  @keyframes #{$animation} {
    0% {
      background-position: $bp_x_ini $bp_y_ini;

    }

    25% {
      background-position: $bp_x_ini $bp_y_final;

    }

    50% {
      background-position: -$bp_x_final $bp_y_final;

    }

    75% {
      background-position: -$bp_x_final $bp_y_ini;

    }

    100% {
      background-position: $bp_x_ini $bp_y_ini;

    }

  }

}

.content-inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: var(--home-section-content-inicio-width);
  padding-left: var(--home-section-content-inicio-padding-left);
  overflow: hidden;

  .text {
    position: var(--home-section-text-move-animation-position);
    height: var(--home-section-text-move-animation-height);
    width: var(--home-section-text-move-animation-width);

  }

  .foto-principal {
    position: var(--home-section-img-move-animation-div-position);
    width: var(--home-section-img-move-animation-foto-principal-width);
    margin-right: var(--home-section-img-move-animation-foto-principal-img-margin-right);

  }

}

.text > div {
  background-color: var(--home-section-img-move-animation-text-div-background-color);
  bottom: var(--home-section-img-move-animation-text-div-bottom);

}

.foto-principal img {
  height: var(--home-section-img-move-animation-foto-principal-img-height);
  width: var(--home-section-img-move-animation-foto-principal-img-width);
}

h1 {
  font-size: var(--home-section-text-move-animation-h1-font-size);

}

h1 span {
  background-image: radial-gradient(circle at center, #64ffd4 7%, #2bda93 10%, #00ab3f 34%, #007f2f 41%, #006927 55%);
  @include animation_color(name_radial_gradient_transition, 107%, 0%, 10%, 105%, 187%, 384%, 8s);

}

h2 {
  font-size: var(--home-section-text-move-animation-h2-font-size);

}

h2 span {
  font-size: 1.18em;
  font-weight: 700;
  background-image: radial-gradient(circle at center, #00fcfc 11%, #00d6ce 15%, #02c2c9 31%, #01959d 37%, #025c61 55%);
  @include animation_color(text_radial_gradient_transition, 107%, 0%, 10%, 105%, 187%, 384%, 8s);

}

span {
  background-size: 187% 384%;
  background-position: 107% 52%;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
