.container-sobre-este-projeto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .sobre--este--projeto {
    display: inherit;
    justify-content: space-evenly;
    flex-direction: inherit;
    width: 100%;
    gap: 60px;

  }

}

.main--content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  width: 100%;
  padding-top: 50px;
  gap: 50px;

}

.title--sobre--este--projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: var(--about-this-project-section-div-width);

  h1 {
   text-align: center;

  }

}

.container-content {
  position: inherit;
  display: flex;
  justify-content: center;
  height: auto;
  width: var(--about-this-project-section-div-width);

  .area__content {
    display: inherit;
    flex-direction: column;
    width: 85%;
    font-size: var(--about-this-project-section-container-content-area__content-font-size);
    gap: 40px;

    p {
      text-align: justify;

    }

  }

}

.tech {
  display: flex;
  flex-direction: column;
  width: var(--about-this-project-section-div-width);
  margin-top: 40px;
  gap: 80px;

}

.title--tech {
  display: inherit;
  margin-left: 20px;


}

h2, h3 {
  text-align: center;

}

.img__tech {
  height: 100px;
  width: 100px;

}

.icons__area {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  width: var(--about-this-project-section-icons__area-width);
  gap: 110px;

  .icons {
    display: inherit;
    position: relative;
    flex-direction: column;
    height: 154px;
    width: var(--about-this-project-section-icons-width);
    align-items: center;
    justify-content: space-around;

    span.line {
      display: inline-block;
      background-color: white;
      position: absolute;
      bottom: -3px;
      height: 3px;
      width: 100%;
      transition: height .3s ease;

    }

  }

}

.icons__area .icons:hover {
  cursor: pointer;

  i, h3 {
    filter: invert(1);

  }

  span.line {
    height: 165px;

  }

}

i {
  color: #c5c5c5;
  font-size: var(--about-this-project-section-icons-i-font-size);
  z-index: 1;

}

h3 {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  font-size: var(--about-this-project-section-icons-h3-font-size);
  z-index: 1;

}

