.projeto {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  height: var(--my-projects-section-projeto-height);
  width: var(--my-projects-section-projeto-width);
  border-radius: 20px;
  border: 1px solid #0a0a0a71;
  box-shadow: 2px 2px 4px #00000057;
  transition: 1s ease;

  img {
    height: 100%;
    width: 100%;
    border-radius: 20px;

  }

}

.hidden {
  opacity: 0 !important;
  z-index: 0 !important;

}

.container-img-projeto {
  position: absolute;
  opacity: 1;
  transition: 1s ease;
  z-index: 1;

}

.container-img-projeto, .img-projeto {
  height: 100%;
  width: 100%;
  border-radius: 20px;

}

.projeto-principal {
  transform: scale(1.3);
  cursor: pointer;

}

.container-info {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  border-radius: 20px;

  .langs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;

  }

  .buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--my-projects-section-buttons-gap);
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 25px;
    bottom: 0;

  }

}

.buttons button:nth-child(1) {
  background-color: #002b6f;

  &:hover {
    background-color: white;

    fa-icon {
      color: #002b6f;

    }

  }

  &:disabled, &:hover:disabled {
    background-color: #002b6f9c;

    fa-icon {
      color: #ffffff9c;

    }

  }

}

.buttons button:nth-child(2) {
  background-color: #000000;

  &:hover {
    filter: invert(1);

  }

  &:disabled, &:hover:disabled {
    background-color: #0000009c;
    filter: invert(0);

    fa-icon {
      color: #ffffff9c;

    }

  }

}

.buttons button {
  height: 34px;
  width: 107px;
  border: none;
  border-radius: 20px;
  transition: .5s ease;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    font-weight: 600;

  }

}

.arrow:hover {
  transform: scale(1.2);

}
