<section style="height: 690px; background-color: var(--background); width: var(--my-projects-section-width);
">
  <div style="display: flex; flex-direction: column; align-items: center; height: 676px; width: 100%; margin-top: 43px;">
    <h1 style="margin-bottom: 50px;">Meus Projetos:</h1>

    <div style="
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 676px;
      width: 91%;

    ">
      <div style="background-color: var(--background); position: relative; display: flex; align-items: center; justify-content: center; height: 100%; right: 5%; z-index: 2;" class="container-arrow-left">
        <fa-icon [icon]="faCircleArrowLeft" style="position: relative; font-size: 2.6em; cursor: pointer; transition: transform .2s ease;" class="arrow" (click)="carousel('left')"></fa-icon>

      </div>

      <div style="background-color: var(--background); display: flex;  position: relative; align-items: center; height: 100%; padding-left: 15px; left: 5%; z-index: 2;" class="container-arrow-right">
        <fa-icon [icon]="faCircleArrowRight" style="position: relative; font-size: 2.6em; cursor: pointer; transition: transform .2s ease;" class="arrow" (click)="carousel('right')"></fa-icon>

      </div>

    </div>

    <div #grid style="position: relative; height: var(--my-projects-section-grid-meus-projetos-height); width: var(--my-projects-section-grid-meus-projetos-width); display: grid; grid-template-columns: repeat(3, 1fr); align-items: center; justify-items: center; transition: .8s ease;" class="grid">
      <!--
          Flip para ver tecnologias
      -->

      <div data-project-id="1" class="projeto projeto-1">
        <img [src]="path_projeto_vazio" alt="projeto vazio">
        <div class="links_externos">
          <button style="background-color: #0075c5; margin-right: 16px;">
            <a href="#"><fa-icon [icon]="faEye" style="font-size: 1.5em; font-weight: 600;"></fa-icon></a>

          </button>

          <button style="background-color: black;">
            <a href="#"><fa-icon [icon]="faGithub" style="font-size: 1.5em; font-weight: 600;"></fa-icon></a>

          </button>

        </div>

      </div>

      <div data-project-id="2" class="projeto projeto-2 projeto-principal">
        <img [src]="path_projeto_1" alt="projeto vazio">
        <div class="links_externos">
          <button style="background-color: #0075c5; margin-right: 16px;">
            <a href="#"><fa-icon [icon]="faEye" style="font-size: 1.5em; font-weight: 600;"></fa-icon></a>

          </button>

          <button style="background-color: black;">
            <a href="#"><fa-icon [icon]="faGithub" style="font-size: 1.5em; font-weight: 600;"></fa-icon></a>

          </button>

        </div>

      </div>

      <div data-project-id="3" class="projeto projeto-3">
        <img [src]="path_projeto_vazio" alt="projeto vazio">
        <div class="links_externos">
          <button style="background-color: #0075c5; margin-right: 16px;">
            <a href="#"><fa-icon [icon]="faEye" style="font-size: 1.5em; font-weight: 600;"></fa-icon></a>

          </button>

          <button style="background-color: black;">
            <a href="#"><fa-icon [icon]="faGithub" style="font-size: 1.5em; font-weight: 600;"></fa-icon></a>

          </button>

        </div>

      </div>

    </div>

  </div>

</section>
