<section>
  <div class="container-meus-projetos">
    <h1>Meus Projetos:</h1>

    <div class="grid-meus-projetos">
      <div #border id="border" class="border" style="display: none;">
        <div class="details">
          <div #content>
            <h3>Tecnologias: </h3>

            <div>
              <p>HTML 5</p>
              <p>CSS 3</p>
              <p>JavaScript</p>

            </div>

          </div>

        </div>

      </div>

      <div data-id="1" class="projeto projeto-1" (mouseenter)="showDetails($event)" (mouseleave)="showDetails($event)">
        <img [src]="path" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>

      <div data-id="2" class="projeto projeto-2" (mouseenter)="showDetails($event)" (mouseleave)="showDetails($event)">
        <img [src]="path" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div data-id="3" class="projeto projeto-3" (mouseenter)="showDetails($event)" (mouseleave)="showDetails($event)">
        <img [src]="path" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div data-id="4" class="projeto projeto-4" (mouseenter)="showDetails($event)" (mouseleave)="showDetails($event)">
        <img [src]="path" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>

    </div>

  </div>

</section>
