<section style="background-color: var(--background); height: 800px; margin-left: var(--my-projects-section-margin-left);">
  <div class="container-my-projects"
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;

  ">
    <h1 style="margin-bottom: 40px;">Meus projetos:</h1>

    <div style="
      display: flex;
      width: var(--my-projects-section-container-grid-width);

    ">
      <div #grid style="
        position: relative;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        width: 100%;
        left: 0vw;
        transition: 1.2s ease;

      ">
        <div data-project="1" class="projeto container-flip-box">
          <div class="flip-box">
            <div class="front">
              <img [src]="path_projeto_vazio" alt="projeto 1">

            </div>

            <div class="back">
              <div class="container-info">
                <div class="langs">
                  <h3>Tecnologias</h3>

                  <div>
                    <p>Sem informação</p>

                  </div>

                </div>

                <div class="buttons">
                  <button [disabled]="true"><fa-icon [icon]="faEye" style="font-size: 1.5em;"></fa-icon></button>
                  <button [disabled]="true"><fa-icon [icon]="faGithub" style="font-size: 1.5em;"></fa-icon></button>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div data-project="2" class="projeto projeto-principal container-flip-box">
          <div class="flip-box">
            <div class="front">
              <img [src]="path_projeto_1" alt="projeto 2">

            </div>

            <div class="back">
              <div class="container-info">
                <div class="langs">
                  <h3>Tecnologias</h3>

                  <div>
                    <p>HTML 5</p>
                    <p>Sass</p>
                    <p>TypeScript</p>
                    <p>Angular</p>
                    <p>Express</p>

                  </div>

                </div>

                <div class="buttons">
                  <button><a href="#"><fa-icon [icon]="faEye" style="font-size: 1.5em;"></fa-icon></a></button>
                  <button><a href="#"><fa-icon [icon]="faGithub" style="font-size: 1.5em;"></fa-icon></a></button>

                </div>

              </div>

            </div>

          </div>

        </div>

        <div data-project="3" class="projeto container-flip-box">
          <div class="flip-box">
            <div class="front">
              <img [src]="path_projeto_vazio" alt="projeto 3">

            </div>

            <div class="back">
              <div class="container-info">
                <div class="langs">
                  <h3>Tecnologias</h3>

                  <div>
                    <p>Sem informação</p>

                  </div>

                </div>

                <div class="buttons">
                  <button [disabled]="true"><fa-icon [icon]="faEye" style="font-size: 1.5em;"></fa-icon></button>
                  <button [disabled]="true"><fa-icon [icon]="faGithub" style="font-size: 1.5em;"></fa-icon></button>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div style="
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      width: 100%;
      bottom: 3%;
      padding: 0px 50px;

    ">
      <div class="arrow arrow-left" style="transition: .2s ease;" (click)="carousel('left')">
        <fa-icon [icon]="faCircleArrowLeft" style="font-size: 2.7em; cursor: pointer;"></fa-icon>

      </div>

      <div class="arrow arrow-right" style="transition: .2s ease;" (click)="carousel('right')">
        <fa-icon [icon]="faCircleArrowRight" style="font-size: 2.7em; cursor: pointer;"></fa-icon>

      </div>

    </div>

  </div>

</section>
