<section>
  <div class="container-meus-projetos">
    <h1>Meus Projetos:</h1>

    <div class="grid-meus-projetos">
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">


        <h2>Nome Projeto</h2>

        <h3>Tecnologias:</h3>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>

        </ul>

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">


        <h2>Nome Projeto</h2>

        <h3>Tecnologias:</h3>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>

        </ul>

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <h2>Nome Projeto</h2>

        <h3>Tecnologias:</h3>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>

        </ul>

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <h2>Nome Projeto</h2>

        <h3>Tecnologias:</h3>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>

        </ul>

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <h2>Nome Projeto</h2>

        <h3>Tecnologias:</h3>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>

        </ul>

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <h2>Nome Projeto</h2>

        <h3>Tecnologias:</h3>

        <ul>
          <li>HTML 5</li>
          <li>CSS 3</li>
          <li>JavaScript</li>

        </ul>

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>

    </div>

  </div>

</section>
