<section>
  <div class="container-meus-projetos">
    <h1>Meus Projetos:</h1>

    <div class="grid-meus-projetos">
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>

      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>
      <div class="projeto">
        <img src="../../../assets/projeto-vazio.png" alt="projeto vazio">

        <div class="links_externos">
          <button>
            <a href="#"><span>Vizualizar</span></a>

          </button>

          <button>
            <a href="#"><span>Repositório</span></a>

          </button>

        </div>

      </div>

    </div>

  </div>

</section>
