@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background: #131515;
  --background-nav-elements: #313131;
  --background-container-elements: #2e3131;

  --color-blue-scale-1: #357DED;
  --color-cyan-scale-1: #00f5ff;
  --color-green-scale-1: #32E875;

  --box-shadow-color: #0000008a;

}

/* GLOBAL SETTINGS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}

@-moz-document url-prefix() {
  section {
    width: 75% !important;

  }

}

body {
  background-color: var(--background) !important;
  color: white;
  font-family: "Rubik", sans-serif;

}

a {
  text-decoration: none;
  color: white;

}

ul {
  list-style: none;

}

section {
  height: 100vh;
  width: calc(75vw - 11px);
  margin-left: 25%;
  overflow: hidden;

  h1, h2, h3,
  p, li, a {
    user-select: none;

  }

}

img {
  -webkit-user-drag: none;

}
