// Colors

$color-cyan-scale-1: #005c61;
$color-cyan-scale-2: #00979f;
$color-cyan-scale-3: #00adb3;
$color-cyan-scale-4: #00cfd6;
$color-cyan-scale-5: #00f3fc;

$color-green-scale-1: #006927;
$color-green-scale-2: #007f2f;
$color-green-scale-3: #00ab3f;
$color-green-scale-4: #2bda6b;
$color-green-scale-5: #44ff88;


@mixin animation_color($animation, $pos_ini, $pos_final, $time) {
    @keyframes #{$animation} {
    0% {
      background-position: $pos_ini;

    }

    100% {
      background-position: $pos_final;

    }

  }
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: $animation $time linear infinite;
  -webkit-animation: $animation $time linear infinite;
  -o-animation: $animation $time linear infinite;
}

.container-inicio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 649px;
  width: 100%;
  padding-left: 50px;

}

.content-inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .text-inicio {
    display: grid;
    align-content: center;
    height: 150px;
    width: 482px;
    row-gap: 15px;

  }

  .foto-principal {
    display: flex;
    height: 100%;
    width: 444px;
    align-items: flex-end;

    img {
      height: 100%;
      width: 119%;

    }
  }

}


h1, h2, p {
  color: white;

}

h1 span {
  background-image: linear-gradient(to right, $color-green-scale-1 20%, $color-green-scale-2 40%, $color-green-scale-3 60%, $color-green-scale-4 80%, $color-green-scale-5 100%);
  @include animation_color(name_color_transition, 0px, 272px, 3s);

}

h2 span {
  font-size: 1.2em;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-cyan-scale-1 20%, $color-cyan-scale-2 40%, $color-cyan-scale-3 60%, $color-cyan-scale-4 80%, $color-cyan-scale-5 100%);
  @include animation_color(text_color_transition, 0px, 141px, 3s);

}

.text-inicio {
  h1 {
    font-size: 2.65em;
    font-weight: 800;

  }
  h2 {
    font-size: 1.5em;
    font-weight: 750;

  }
  p {
    font-size: 1.8em;

  }

}
