<section>
  <div class="container-skills">
    <div class="content-skills">
      <h1>Habilidades:</h1>

      <h2>Front-End</h2>

      <div class="list__skills">
        <div class="skill">
          <div>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" />

            <h2>HTML 5</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" />
            <h2>CSS 3</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />

            <h2>JavaScript</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg" />
            <h2>Sass</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />

            <h2>TypeScript</h2>

          </div>


        </div>

        <div class="skill">
          <div>
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />

            <h2>Angular</h2>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
