<section>
  <div class="container-skills">
    <div class="content-skills">
      <h1>Habilidades:</h1>

      <h2>Front-End</h2>

      <div class="list__skills">
        <div class="skill">
          <div>
            <i class="devicon-html5-plain"></i>
            <h2>HTML 5</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <i class="devicon-css3-plain"></i>
            <h2>CSS 3</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <i class="devicon-javascript-plain"></i>
            <h2>JavaScript</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <i class="devicon-sass-plain"></i>
            <h2>Sass</h2>

          </div>

        </div>

        <div class="skill">
          <div>
            <i class="devicon-typescript-plain"></i>
            <h2>TypeScript</h2>

          </div>


        </div>

        <div class="skill">
          <div>
            <i class="devicon-angular-plain"></i>
            <h2>Angular</h2>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
