.background-gradient {
  position: relative;
  height: 500px;
  width: 100%;
  background: linear-gradient(to top, var(--background), transparent);

}

section {
  height: 230vh;
  box-shadow: 0px -60px 45px 0px var(--background);

}

div.container-skills {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  div.content-skills {
    display: flex;
    flex-direction: column;
    height: 184vh;
    width: 75%;
    margin-top: 60px;

  }

}

div.content-skills > div {
  display: flex;
  flex-direction: column;

  h1 {
    align-self: center;
    margin-bottom: 50px;
    font-size: 2em;

  }

}

h1 ~ h2 {
  font-size: 1.6em;
  text-indent: 40px;
  margin: 30px 0px;

}

.list__skills {
  display: grid;
  align-content: space-between;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 45%;
  margin: 30px 0px;
  column-gap: 30px;

  .skill {
    display: flex;
    justify-content: center;
    background-color: #222222;
    height: 180px;
    width: 180px;
    padding: 10px 0px;
    margin-bottom: 70px;
    box-shadow: 1px 1px 4px 1px var(--box-shadow-color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

    }

  }

}

.skill:hover {
  background-color: #ffffffe1 !important;
  transform: translateY(-10px) scale(1.1);
  box-shadow: 2px 2px 6px 2px var(--box-shadow-color) !important;

  div i, div h2 {
    filter: invert(1);

  }

}

.skill div {
  i {
    color: #c5c5c5;
    font-size: 4.5em;
    align-self: center;

  }

  h2 {
    text-align: center;
    font-size: 1.2em;

  }

}
