<section>
  <div class="container" style="
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    z-index: 800;

  ">
    <div style="
      background-color: var(--background);
      display: inherit;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 55px;
      position: relative;
      height: 649px;
      width: 100%;

    ">
      <div class="container-close" style="
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 7px;
        height: 84px;

      ">
        <div class="background-close" routerLink="/" routerLinkActive="active" style="
          background-color: #ffffff29;;
          position: relative;
          top: 9px;
          border-radius: 50%;
          cursor: pointer;
        ">
          <div class="close" style="transform: translate(5px, 29px) rotate(45deg);"></div>
          <div class="close" style="transform: translate(5px, 29px) rotate(-45deg);"></div>

        </div>

      </div>

      <h1>Entre em contato:</h1>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()"
      style="
        position: relative;
        display: inherit;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 57%;
      ">
        <label for="name"><span>Nome:</span></label>
        <input type="text" name="name" id="name" formControlName="name" [ngClass]="(profileForm.get('name')?.touched && !isSpace(profileForm.get('name')?.value ?? '')) ? 'valid' : (profileForm.get('name')?.touched && isSpace(profileForm.get('name')?.value ?? '')) ? 'invalid' : ''" style="height: 40px; padding-left: 74px;">

        <label for="email"><span>Email:</span></label>
        <input type="email" name="email" id="email" formControlName="email" [ngClass]="(profileForm.get('email')?.valid && profileForm.get('email')?.touched && !isSpace(profileForm.get('email')?.value ?? '')) ? 'valid' : (profileForm.get('email')?.invalid && profileForm.get('email')?.touched) ? 'invalid' : ''" style="height: 40px; padding-left: 74px;">

        <label for="content"><div><span>Conteúdo:</span></div></label>
        <textarea name="content" id="content" formControlName="content" [ngClass]="(profileForm.get('content')?.touched && !isSpace(profileForm.get('content')?.value ?? '')) ? 'valid' : (profileForm.get('content')?.touched && isSpace(profileForm.get('content')?.value ?? '')) ? 'invalid' : ''"></textarea>

        <button type="submit" style="
          background-color: #80808000;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          width: 100%;
          border: 1px solid gray;
          border-radius: 12px;
          cursor: pointer;
        ">
          <span style="
            color: white;
            font-size: 1.4em;
            font-weight: 600;
            user-select: none;

          ">Enviar</span>

        </button>

      </form>

    </div>

  </div>

  <div #message_sent class="container-message_sent" style="
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 41px;
    z-index: 999;


  ">
    <div class="message_sent" style="
      background-color: var(--background);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 75px;
      outline: 1px solid gray;
      box-shadow: 3px 3px 6px 0px #000000ad;
    ">
      <h1>Enviado com sucesso &#9989;</h1>

    </div>

  </div>

  <router-outlet></router-outlet>

</section>
