<section>
  <div class="container-sobre-este-projeto">
    <div class="sobre--este--projeto sobre__este__projeto">
      <div class="title--sobre--este--projeto">
        <h1>Sobre este projeto:</h1>

      </div>

      <div class="container-content">
        <div class="area__content">
          <p>
            Este projeto tem como objetivo apresentar o meu trabalho como programador web. O portfólio foi desenvolvido inteiramente em Angular, com o intuito de demonstrar minhas habilidades no uso desse framework. Ele possui seções que podem ser acessadas tanto pelos links na área de navegação quanto pela rolagem animada entre as seções. Eu escolhi o Angular devido à sua verbosidade e estrutura de diretórios bem organizada, o que facilita a separação de componentes e permite o desenvolvimento de forma modular e independente.

          </p>

          <p>
            Durante o desenvolvimento, meu foco foi em entender o funcionamento do framework e a lógica por trás dos componentes que ele oferece. Além disso, aprofundei meus conhecimentos em TypeScript, que adiciona funcionalidades que o JavaScript tradicional não possui. Busquei criar um portfólio com um design único, que me representasse. Optei por uma paleta de cores mais escuras, com alguns textos coloridos para destacar algumas partes. Cada seção foi separada em um componente independente, com transições animadas ao rolar a página. Também criei uma área de navegação fixa com minha foto, links de contato e links para cada seção do site.

          </p>

          <p>
            Com este projeto, quero demonstrar minhas habilidades na área de front-end, utilizando tecnologias como HTML, CSS, JavaScript/TypeScript e Angular. Além deste, estou trabalhando em outros projetos e sempre me aprimorando minhas habilidades. Continuo em busca de novos conhecimentos para me tornar um profissional cada vez melhor.
            
          </p>


        </div>

      </div>

      <div class="tech">
        tecnologias

      </div>

    </div>

  </div>

</section>
