section {
  min-height: 1000px;

}

.container-sobre-este-projeto {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .sobre--este--projeto {
    display: inherit;
    justify-content: space-evenly;
    flex-direction: inherit;
    gap: 60px;

  }

}

.main--content {
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-evenly;

}

.title--sobre--este--projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  h1 {
   text-align: center;

  }

}

.container-content {
  display: flex;
  justify-content: center;

  .area__content {
    display: inherit;
    flex-direction: column;
    width: 80%;
    gap: 40px;

    p {
      text-align: justify;

    }

  }

}

.tech {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 40px;

}

.title--tech {
  display: inherit;
  margin-left: 20px;


}

h2, h3 {
  text-align: center;

}

.img__tech {
  height: 100px;
  width: 100px;

}

.container-icons {
  display: flex;
  margin: auto;
  gap: 130px;

  .icons {
    display: inherit;
    flex-direction: column;
    height: 160px;
    width: 100%;
    justify-content: space-around;

  }

}


i {
  color: #c5c5c5;
  font-size: 7em;

}
