<section>
  <div class="container-sobre-este-projeto">
    <div class="sobre--este--projeto">
      <div class="main--content">
        <div class="title--sobre--este--projeto">
          <h1>Sobre este projeto:</h1>

        </div>

        <div class="container-content">
          <div class="area__content">
            <p>
              Este projeto tem como objetivo apresentar o meu trabalho como programador web. O portfólio foi desenvolvido inteiramente em Angular. Ele possui seções que podem ser acessadas tanto pelos links na área de navegação quanto pela rolagem animada entre as seções. Eu escolhi o Angular devido à sua verbosidade e estrutura de diretórios bem organizada, o que facilita a separação de componentes e permite o desenvolvimento de forma modular e independente.

            </p>

            <p>
              Durante o desenvolvimento, meu foco foi em entender o funcionamento do framework e a lógica por trás dos componentes que ele oferece. Além disso, aprofundei meus conhecimentos em TypeScript, que adiciona funcionalidades que o JavaScript tradicional não possui. Busquei criar um portfólio com um design único, que me representasse. Optei por uma paleta de cores mais escuras, com alguns textos coloridos para destacar algumas partes. Cada seção foi separada em um componente independente, com transições animadas ao rolar a página. Também criei uma área de navegação fixa com minha foto, links de contato e links para cada seção do site.

            </p>

            <p>
              A criação do portfólio foi importante para que eu começasse a entender como funciona a dinâmica de um projeto real, além de aprender a lidar com os desafios que surgiram ao longo do processo. Com este projeto, quero demonstrar as habilidades que desenvolvi na área de front-end, utilizando tecnologias como HTML, CSS/Sass, JavaScript/TypeScript e Angular, que são conhecimentos importantes para minha atuação profissional.

            </p>

          </div>

       </div>

      </div>

      <div class="tech">
        <div class="title--tech">
          <h2>Tecnologias usadas no projeto</h2>

        </div>

        <div class="container--icons">
          <div class="icons__area">
            <div class="icons">
              <i class="devicon-html5-plain"></i>
              <h3>HTML 5</h3>
              <span class="line"></span>

            </div>

            <div class="icons">
              <i class="devicon-sass-plain"></i>
              <h3>Sass</h3>
              <span class="line"></span>

            </div>

            <div class="icons">
              <i class="devicon-typescript-plain"></i>
              <h3>TypeScript</h3>
              <span class="line"></span>

            </div>

            <div class="icons">
              <i class="devicon-angular-plain"></i>
              <h3>Angular</h3>
              <span class="line"></span>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
