<div style="height: 11070px; width: 1291px;">
  <app-content-about-me #content style="display: block; position: fixed; top: 0; transform: scale(0.0);">
    <h1 style="margin: 0px auto 30px auto;">Sobre mim:</h1>

    <div class="content" style="display: flex; align-self: flex-end; align-items: center; gap: 22px;">
      <div class="text">
        <h2>O início:</h2>

        <p>
          Comecei a me interessar por tecnologia quando meu professor de matemática
          criou uma disciplina eletiva de robótica. A participação na disciplina despertou o interesse nessa área.

        </p>

      </div>

      <div class="icons">
        <fa-icon [icon]="faRobot" style="color: #999999;"></fa-icon>

      </div>

    </div>

  </app-content-about-me>

  <app-content-about-me #content style="display: block; position: fixed; top: 0; transform: scale(0.0);">
    <div class="content" style="display: flex; align-self: flex-end; align-items: center; gap: 22px;">
      <div class="text">
        <h2>Contato com a programação:</h2>

        <p>
          Meu primeiro contato com a programação foi no último ano de ensino médio, enquanto estudava para o Enem. Comecei a ver lógica de programação em Portugol e, a partir daí, meu interesse em programação começou a surgir.

        </p>

      </div>

      <div class="icons">
        <fa-icon [icon]="faLaptopCode" style="color: #ffffff;"></fa-icon>

      </div>

    </div>

  </app-content-about-me>

  <app-content-about-me #content style="display: block; position: fixed; top: 0; transform: scale(0.0);">
    <div class="content" style="display: flex; align-self: flex-end; align-items: center; gap: 22px;">
      <div class="text">
        <h2>Entrada na universidade:</h2>

        <p>
          Meu objetivo era cursar Engenharia da Computação, mas passei em Matemática Aplicada e Computacional na UFS. No curso, tive disciplinas como PI em Python, ED em C e POO em Java. Minha vontade de aprender só crescia a cada novo conceito.

        </p>

      </div>

      <div class="icons">
        <fa-icon [icon]="faBuildingColumns" style="color: #cfcfcf;"></fa-icon>

      </div>

    </div>

  </app-content-about-me>

  <app-content-about-me #content style="display: block; position: fixed; top: 0; transform: scale(0.0);">
    <div class="content" style="display: flex; align-self: flex-end; align-items: center;">
      <div class="text">
        <h2>Atualidade: </h2>

        <p>
          Atualmente, desenvolvo projetos para a área de Front-End utilizando tecnologias como HTML5, CSS3/Sass e JavaScript/TypeScript, em conjunto com o framework Angular. Para o Back-End, utilizo o Express.

        </p>

      </div>

      <div class="icons logo__icons" style="height: 100%; width: 210px;">
        <fa-icon [icon]="faHtml5" style="color: #ff3300;"></fa-icon>
        <fa-icon [icon]="faCss3" style="color: #176bfd;"></fa-icon>
        <fa-icon [icon]="faJs" style="color: #FFD43B;"></fa-icon>

      </div>

    </div>

  </app-content-about-me>

</div>
