app-content-about-me {
  margin-left: var(--about-me-section-margin-left);

  h1 {
    font-size: var(--about-me-section-conteudo-sobre-mim-h1-font-size);

  }
  h2 {
    font-size: var(--about-me-section-content-text-h2-font-size);

  }

  p {
    text-align: justify;
    font-size: var(--about-me-section-content-text-p-font-size);
    margin-top: 20px;

  }

  fa-icon {
    font-size: var(--about-me-section-content-text-icons-fa-icon-font-size);

  }

}

.text {
  width: var(--about-me-section-content-text-width);

}

.content {
  flex-direction: var(--about-me-section-content-odd-flex-direction);

}

app-content-about-me:nth-child(even) {
  .content {
    flex-direction: var(--about-me-section-content-even-flex-direction);
    //margin-right: var(--about-me-section-content-margin-left-right);

  }

  .icons {
    margin-right: var(--about-me-section-content-text-icons-margin-left-right);

  }

}

app-content-about-me:nth-child(odd) {
  .content {
    margin-left: var(--about-me-section-content-margin-left-right);

  }

  .icons {
    margin-left: var(--about-me-section-content-text-icons-margin-left-right);

  }

}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41%;
  margin: 0px 10px;

}

.logo__icons {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: var(--about-me-section-content-text-logo__icons-grid-template-areas);
  align-items: center;
  justify-items: center;
  height: 250px;
  width: 34%;
  margin: 15px 10px 0px 10px;

  fa-icon {
    font-size: var(--about-me-section-content-text-logo__icons-fa-icon-font-size);

  }

}

.logo__icons fa-icon:nth-child(1) {
  grid-area: html;
  position: relative;
  left: var(--about-me-section-content-text-logo__icons-fa-icon-font-left-right);

}

.logo__icons fa-icon:nth-child(2) {
  grid-area: css;
  position: relative;
  right: var(--about-me-section-content-text-logo__icons-fa-icon-font-left-right);

}

.logo__icons fa-icon:nth-child(3) {
  grid-area: js;

}
