.container {
  height: 1800vh;

}

app-conteudo-sobre-mim {
  display: block;
  position: fixed;
  top: 0;

  h1 {
    font-size: 2.3em;
    margin: 30px auto;

  }

  p {
    text-align: justify;
    font-size: 1.18em;
    margin-top: 20px;

  }

  fa-icon {
    font-size: 7em;

  }

}

app-conteudo-sobre-mim:nth-child(even) {
  .content {
    flex-direction: row-reverse;
    margin-right: 40px;

  }

  .icons {
    margin-right: 60px;

  }

}

app-conteudo-sobre-mim:nth-child(odd) {
  .content {
    margin-left: 40px;

  }

  .icons {
    margin-left: 60px;

  }

}

.content {
  display: flex;
  align-self: flex-end;
  align-items: center;

  .text {
    width: 48%;

  }

}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41%;
  margin: 0px 10px;

}

.logo__icons {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "html . css"
      ". js .";
  align-items: center;
  justify-items: center;
  height: 250px;
  width: 34%;
  margin: 0px 10px;

  fa-icon {
    font-size: 6em;

  }

}

.logo__icons fa-icon:nth-child(1) {
  grid-area: html;
  position: relative;
  left: 20px;

}

.logo__icons fa-icon:nth-child(2) {
  grid-area: css;
  position: relative;
  right: 20px;

}

.logo__icons fa-icon:nth-child(3) {
  grid-area: js;

}
