<app-conteudo-sobre-mim>
  <h1>Sobre mim:</h1>

  <div class="content">
    <div class="text">
      <h2>O início:</h2>

      <p>
        Minha jornada na tecnologia começou quando meu professor de matemática
        criou uma disciplina eletiva de robótica. Durou pouco tempo, mas foi o suficiente
        para que surgisse em mim a curiosidade de saber mais. Trabalhar com tecnologia
        tinha se tornado uma possibilidade, mas não sabia exatamente qual área eu iria seguir.

      </p>

    </div>

    <div class="icons">
      <fa-icon [icon]="faRobot" style="color: #999999;"></fa-icon>

    </div>

  </div>

</app-conteudo-sobre-mim>

<app-conteudo-sobre-mim>
  <div class="content">
    <div class="text">
      <h2>Contato com a programação:</h2>

      <p>
        No ano em que eu estudava para fazer o ENEM, enquanto buscava métodos de estudo,
        recebi a dica que estudar lógica de programação me ajudaria. E foi o que fiz.
        Comecei a ver o básico de Portugol. Logo no início, fiz um mini programa com um tutorial que ensinava e resolvia equações do segundo grau. Depois fiz o mesmo para progressões aritméticas.

      </p>

    </div>

    <div class="icons">
      <fa-icon [icon]="faLaptopCode" style="color: #ffffff;"></fa-icon>

    </div>

  </div>

</app-conteudo-sobre-mim>

<app-conteudo-sobre-mim>
  <div class="content">
    <div class="text">
      <h2>Entrada na universidade:</h2>

      <p>
        Minha primeira opção de curso foi Engenharia da Computação, mas passei no curso de Matemática Aplicada e Computacional na Universidade Federal
        de Sergipe (UFS). A partir daí, comecei a estudar programação mais seriamente. A primeira linguagem que vi na universidade foi Python. Daí em diante minha paixão e certeza que eu queria ser programador foi só aumentaram.

      </p>

    </div>

    <div class="icons">
      <fa-icon [icon]="faBuildingColumns" style="color: #cfcfcf;"></fa-icon>

    </div>

  </div>

</app-conteudo-sobre-mim>

<app-conteudo-sobre-mim>
  <div class="content">
    <div class="text">
      <h2>Conclusão: </h2>

      <p>
        Ainda tenho vontade e pretendo, futuramente, cursar Engenharia, mas, por agora, estou empenhado em estudar e aprender desenvolvimento web. Meu objetivo é buscar novas oportunidades para crescer na área e evoluir como um bom profissional que almejo ser.

      </p>

      <p>
        Atualmente, desenvolvo projetos para Front-End utilizando tecnologias como HTML5, CSS3/Sass e JavaScript/TypeScript, em conjunto com o framework Angular. Também possuo um leve conhecimento no Back-End, utilizando PHP e MySQL.

      </p>

    </div>

    <div class="icons logo__icons">
      <fa-icon [icon]="faHtml5" style="color: #ff3300;"></fa-icon>
      <fa-icon [icon]="faCss3" style="color: #176bfd;"></fa-icon>
      <fa-icon [icon]="faJs" style="color: #FFD43B;"></fa-icon>

    </div>

  </div>

</app-conteudo-sobre-mim>

